<!--
<div *ngFor="let item of listaItens">
  <div class="mydiv">
    <br />
    <h4>{{item.nomePerfil}} >> {{item.nomeGrupo}}</h4><br />
    <span>{{item.textoOferta}}</span>
    <div *ngFor="let fotos of item.fotosOferta" class="box">
      <img src="{{fotos}}">
    </div>
    <br />
    <a href="{{item.linkPerfil}}" target="_blank"><button>Perfil Do Vendedor</button></a>
    <a href="{{item.linkOferta}}" target="_blank"><button>Exibir No Facebook</button></a>
    <a href="{{item.linkGrupo}}" target="_blank"><button>Entrar No Grupo</button></a>
    <a target="_blank"><button>Conversar Com {{item.nomePerfil}}</button></a><br />
  </div>
</div>
-->
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Vendedor</th>
      <th scope="col">Oferta</th>
      <th scope="col">Fotos</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of listaItens">
    <tr>
      <td scope="row">{{item.nomePerfil}}</td>
      <td>{{item.textoOferta}}</td>
      <td>Em Breve<!--<div *ngFor="let fotos of item.fotosOferta"><img src="{{fotos}}" class="test"></div>--></td>
      <td>
          <a href="{{item.linkPerfil}}" target="_blank"><button class="btn btn-light">Perfil Vendedor</button><br></a>
          <a href="{{item.linkGrupo}}" target="_blank"><button class="btn btn-light">Grupo De Ofertas</button></a>
          <a href="{{item.linkOferta}}" target="_blank"><button class="btn btn-light">Visualizar Oferta</button></a>
          <button class="btn btn-light">Direct Para Vendedor</button><br>
      </td>
    </tr>
  </tbody>
</table>