
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
<div class="panel-heading">
				<h3 class="panel-title text-center">EXIBIÇÃO DE CAMINHÃO</h3>
			</div>
         
      <div id="login">
          <div class="container">
              <div id="login-row" class="row justify-content-center align-items-center">
                  <div id="login-column" class="col-md-6">
                      <div id="login-box" class="col-md-12">
                          <form id="login-form" class="form" action="" method="post">
                              <h3 class="text-center text-info"></h3>

                              <div *ngFor="let caminhao of caminhoes">
                                        <div class="form-group">
                                            <label for="username" class="text-info">Tipo de Caminhão: </label> &nbsp;&nbsp;
                                            <span><b>{{caminhao.tipo_de_caminhao}}</b></span>
                                        </div>

                                        <div class="form-group-desc">
                                            <label for="username" class="text-info" >Descrição: </label> &nbsp;&nbsp;
                                            <span><b>{{caminhao.descricao}}</b></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Cidade: </label> &nbsp;&nbsp;
                                            <span><b>{{caminhao.cidade}}</b></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Estado: </label> &nbsp;&nbsp;
                                            <span><b>{{caminhao.estado}}</b></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">CEP: </label> &nbsp;&nbsp;
                                            <span><b>{{caminhao.cep}}</b></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Peso: </label> &nbsp;&nbsp;
                                            <span><b>{{caminhao.peso_max}}</b></span>
                                        </div>
                                        
                                        <!-- <div class="form-group">
                                            <label for="password" class="text-info">Senha:</label><br>
                                            <input type="password" name="password" id="password" class="form-control">
                                        </div> -->
                      
                                        <!-- <div id="register-link" class="text-right">
                                            <a href="#" class="Registrar">Registrar</a>
                                        </div> -->

                                        --------------------------------------------------------------------------

                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>

