
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="">
    <img src="cam3.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    Frete Fácil
  </a>
  <b class="text-white" >Exibição de Carga</b>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pesquisar Cargas</button>
  </form>
</nav>
<body>
<div class="panel-heading">
			</div>
      <div id="login">
          <div class="container">
              <div id="login-row" class="row justify-content-center align-items-center">
                  <div id="login-column" class="col-md-6">
                      <div id="login-box" class="col-md-12">
                      <!-- <h5 class="text-center text-info">EXIBIÇÃO DE CARGAS</h5> -->
                          <form id="login-form" class="form" action="" method="post">
                              <table *ngFor="let carga of carga">
                                        <div class="form-group">
                                            <label for="username" class="text-info">Tipo de Carga: </label> &nbsp;&nbsp;
                                            <span><b>{{carga.tipo}}</b></span>
                                        </div>

                                        <div class="form-group-desc">
                                            <label for="username" class="text-info" >Descrição: </label> &nbsp;&nbsp;
                                            <span><b>{{carga.descricao}}</b></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Cidade: </label> &nbsp;&nbsp;
                                            <span><b>{{carga.cidade}}</b></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Estado: </label> &nbsp;&nbsp;
                                            <span><b>{{carga.estado}}</b></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">CEP: </label> &nbsp;&nbsp;
                                            <span><b>{{carga.cep}}</b></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Peso: </label> &nbsp;&nbsp;
                                            <span><b>{{carga.peso}}</b></span>
                                        </div>

                                        <!-- <div class="form-group">
                                            <label for="password" class="text-info">Senha:</label><br>
                                            <input type="password" name="password" id="password" class="form-control">
                                        </div> -->

                                        <!-- <div id="register-link" class="text-right">
                                            <a href="#" class="Registrar">Registrar</a>
                                        </div> -->

                                        --------------------------------------------------------------------------

                              </table>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>

