<body>
<div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Endereço</th>
        <th scope="col">Telefone</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of listaItens">
      <tr>
        <th scope="row" *ngIf="disableEdit">{{item.nome}}</th>
        <td *ngIf="disableEdit">{{item.endereco}}</td>
        <td *ngIf="disableEdit">{{item.telefone}}</td>
        <td><button (click)="excluirUsuario(item.idMongo)">Excluir</button></td>
      </tr>
    </tbody>
  </table>
<br><h2>INSERIR DADOS NA TABELA</h2>
<form class="cl">
    <div class="form-group">
      <input [(ngModel)]="nomeCadastro" name="nome" type="text" class="form-control" placeholder="Nome">
    </div>
    <div class="form-group">
      <input [(ngModel)]="enderecoCadastro" name="endereco" type="text" class="form-control" placeholder="Endereço">
    </div>
    <div class="form-group">
        <input [(ngModel)]="telefoneCadastro" name="telefone" type="text" class="form-control" placeholder="Telefone">
      </div>
    <div class="form-group">
      <input type="submit" class="btnSubmit" value="Inserir" (click)="inserirUsuario()" />
    </div>
</form>
</div>
</body>