body {
    background-image: url('cam3.jpg');
    background-size: cover;
    
   
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    background-color: #fff;

}

h11 {
    color:rgb(30, 255, 0);
}

#logo {
        width:50%;
        height:50%;
}

.panel-heading{
    font-size:150%;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}



