<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>BOOTSTRAP CRUD LAYOUT</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
	<div class="container">
		
		<div class="panel panel-default">
				
			<div class="panel-heading">
				<h3 class="panel-title text-center">CADASTRO DE CAMINHÃO</h3>
			</div>
			
			<div id="cadastro-caminhao">
				
				<form action="" class="form-horizontal" method="post">
					<fieldset>
						<legend>Dados do caminhão</legend>
						<div class="form-group">
							<label for="tipo" class="col-sm-2 control-label">tipo de caminhão</label>
							<div class="col-sm-4">
								<input [(ngModel)]='tipo_de_caminhao' name="tipo_de_caminhao" type="text" class="form-control" id="tipo_de_caminhao">
							</div>
            </div>
            <div class="form-group">
							<label for="Descrição" class="col-sm-2 control-label">Descrição</label>
							<div class="col-sm-4">
								<input [(ngModel)]='descricao' name="descricao" type="text" class="form-control" id="Descrição">
							</div>
						</div>
					</fieldset>
					
					<fieldset>
						<legend>Localidade</legend>
						<div class="form-group">
							<label for="Cidade" class="col-sm-2 control-label">Cidade</label>
							<div class="col-sm-4">
								<input [(ngModel)]='cidade' name="cidade" type="Cidade" class="form-control" id="Cidade">
							</div>
						</div>
						
						<div class="form-group">
							<label for="estado" class="col-sm-2 control-label">Estado</label>
							<div class="col-sm-4">
								<input [(ngModel)]='estado' name="estado" type="estado" class="form-control" id="estado">
							</div>
						</div>
					<fieldset>
						<div class="form-group">
							<label for="CEP" class="col-sm-2 control-label">CEP</label>
							<div class="col-sm-4">
								<input [(ngModel)]='cep' name="cep" type="text" class="form-control" id="CEP">
							</div>
						</div>
          </fieldset>
						<div class="form-group">
							<label for="Peso Da Carga" class="col-sm-2 control-label">Peso Do Caminhão</label>
							<div class="col-sm-4">
								<input [(ngModel)]='peso_max' name="peso_max" type="peso_max" class="form-control" id="peso_max">
							</div>
						</div>
					</fieldset>
					
					<button type="submit" class="btn btn-primary">
						<a href="/carga" class="glyphicon glyphicon-floppy-disk" aria-hidden="true" (click)='cadastrarcaminhao()'> Enviar</a>
					</button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>